<div class="container">
    <h1>Create a Haul</h1>
    <div>
        <mat-form-field class="haul-name" appearance="outline">
            <mat-label>Give your haul a name</mat-label>
            <input #haulName matInput placeholder="Ex. My Great Haul">
        </mat-form-field>
    </div>

    <h1>Add your Garms</h1>
    <p>Paste the TaoBao URL of a product in below</p>
    <mat-card>
        <form [formGroup]="urlSubmitter" (ngSubmit)="validateURL()">
            <mat-form-field style="width: 80%;" floatLabel="never" class="submit-url">
                <input #productUrl formControlName="productURL" (blur)="validateURL()" (keyup.enter)="validateURL()" matInput
                    placeholder="Product URL">
            </mat-form-field>
            <mat-error *ngIf="!urlSubmitter.valid">
                Please enter valid URL
            </mat-error>
            <button mat-raised-button type="submit" style="float: right;" color="primary">Add</button>
        </form>
    </mat-card>
    <mat-divider></mat-divider>
    <div>
        <app-product-submission-card #productCard *ngFor="let productListItem of products" [productDetails]="productListItem"></app-product-submission-card>
    </div>
    <div>
        <button *ngIf="products.length!=0" mat-raised-button color="primary" (click)="submitHaul(haulName.value)">Submit Haul</button>
    </div>
</div>