#container {
    margin: 1.5rem;
}

#info-container {
    display: flex;
    justify-content: space-between;
    mat-card {
        margin: 1rem;
    }
    mat-card:first-of-type {
        margin-left: 0rem;
    }
    mat-card:last-of-type {
        margin-right: 0rem;
    }
}

#container-logged {
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    #main {
        flex: 8;
        margin-right: 1.5rem;
    }
    #right-column {
        flex: 2;
        mat-card { 
            margin-bottom: 1.5rem;
        }
    }
}