img {
    border-radius: 50%;
    width: 50%;
}

#container {
    margin: 1rem;
}

#profile-container {
    display: flex;
    div:first-of-type {
        flex: 1;
    }
    div:last-of-type {
        flex: 5;
    }
}