form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 16px;
}

#column {
    flex-grow: 1;
}

button { 
    margin-left: 16px;
}

.product-url {
    width: 50%;
}

mat-card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}