<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>

        <mat-panel-title>
            <mat-form-field floatLabel="never" class="product-url">
                <input matInput (focusout)="onLostFocus()" [formControl]="taobaoLinkControl" placeholder="Product URL">
                <mat-error *ngIf="taobaoLinkControl.hasError('pattern')">
                    Please enter a valid TaoBao URL
                </mat-error>
            </mat-form-field>
        </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <form>
            <mat-form-field appearance="fill">
                <mat-label>size</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>colour</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field floatLabel="never" class="product-weight">
                <input matInput placeholder="Product weight">
            </mat-form-field>
            <br>
            <mat-form-field floatLabel="never" class="product-price">
                <input matInput placeholder="Product price">
            </mat-form-field>
        </form>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field class="product comment">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. Important things about the product"></textarea>
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <form>
            <mat-form-field floatLabel="never" class="inhand-url">
                <input matInput placeholder="imgur url">
            </mat-form-field>
            <br>
            <mat-form-field floatLabel="never" class="inspection-url">
                <input matInput placeholder="imgur url">
            </mat-form-field>
            <br>
            <mat-slide-toggle>recommended</mat-slide-toggle>
        </form>
        </mat-grid-tile>
    </mat-grid-list>
    <p>{{ title }}</p>
</mat-expansion-panel>